.form-container {
  width: 46%;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 7%;
  border-radius: 4px;
  overflow: hidden;
}

.form-categories {
  display: flex;
  background-color: #ffffff;
}

.form-all-events {
  width: 20%;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1565c0;
  font-family: Heebo;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.58;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.form-category-item {
  height: 26px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  color: #484848;
  font-family: Heebo;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.28;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}

.form {
  height: 256.8px;
  display: flex;
  flex-direction: column;
  padding: 26.6px 40.4px 29.6px 40.4px;
  background-color: #ffffff;
}

.form-search-wrapper, .form-dates-box, .form-location-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-search-label, .form-location-label {
  margin-bottom: 3px;
  font-family: Heebo;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #95989a;
}

.form-search-input {
  width: 100%;
  height: 31px;
  margin-bottom: 17.5px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.form-search-input::placeholder, .form-location-input::placeholder {
  padding-left: 11px;
  padding-top: -4px;
  font-family: Heebo;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
}

.form-dates-wrapper {
  display: flex;
}

.form-dates-label {
  margin-bottom: 3px;
  font-family: Heebo;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #95989a;
}

.form-dates-input {
  height: 31px;
  margin-bottom: 17.5px;
  padding-left: 13.5px;
  font-family: Heebo;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #484848;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.right-dates-input {
  border-left: 0px;
}

.location-input-box {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-location-input {
  width: 100%;
  height: 31px;
  margin-bottom: 17.5px;
  margin-right: -6px;
  padding: 0px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.form-location-input::placeholder {
  padding-left: 13px;  
}    

.fa-chevron-down {
  z-index: 1;
  position: relative;
  top: -8px;
  left: -10px;
  font-size: 7px;
  color: #484848;
}

.form-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.form-button {
  width: 169px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #1565c0;  
  font-family: Heebo;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.3px;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width:960px) {
  .form-category-item, .form-all-events {
    font-size: 1.25vw;
  }
}

@media screen and (max-width:768px) {
  .form-dates-wrapper {
    flex-direction: column;
  }

  .form-dates-input {
    margin-bottom: 7.5px;
  }

  .form-category-item, .form-all-events {
    font-size: 9px;
  }  
}

@media screen and (max-width:662px) {
  .form-container {
    min-width: 472px;
  }

  .form-dates-wrapper {
    flex-direction: row;
  }

  .form-dates-input {
    min-width: 180.5px;
    margin-bottom: 17.5px;
  }

  @media screen and (max-width:540px) {
    .form-container {
      min-width: 85%;
    }

    .form-dates-wrapper {
      flex-direction: column;
    }
  
    .form-dates-input {
      margin-bottom: 7.5px;
    }
  }  
}